body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
}

.form-shadow{
    box-shadow: -5px 2px 54px -9px rgb(0 0 0);
    border: none;
}

p{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

.brand{
    font-size: 32px;
}